.article {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1em;
}

.error {
  padding: 0.5em 1em;
  color: red;
  font-weight: bold;
}

.loadButton {
  padding: 0.5em 1em;
}

.profileData {
  list-style: none;
}

.profileData li:not(:first-child) {
  margin-top: 0.5em;
}

.profileData label {
  display: block;  font-style: italic;
}

.profileData span {
  display: block;
  font-weight: bold;
}

.profileData span:empty:before {
  content: "--";
}